@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Outfit', sans-serif;
  
}

/* .card {
 @apply w-[350px] h-[500px] bg-blue-900 rounded-lg shadow-lg p-5;
}

.image {
  @apply flex items-center relative;
}

.image img {
  @apply rounded-lg hover:bg-cyan-400 hover:opacity-40 hover:cursor-pointer transition-all duration-300 ease-in-out;
}

/* .image img::before {
  @apply absolute top-0 left-0 w-full h-full bg-cyan-400 rounded-lg opacity-50;
  
} */   
